.item {
    color: rgb(0, 255, 0);
    background-color: brown;
    padding: 40px;
    border-radius: 10px;
    size: 1000%;
    border: inherit;
    margin: 2px;
    font-size: 40px;
  }
  .Row {
    display: flex;
    flex-wrap: wrap;
  }
  h1{
      color: blue;
  }
  .item:hover{
    background-color: yellow;
    cursor: pointer;
  }
  .item:active{
    color: inherit;
    background-color: lightblue;
    transform: scale(0.92);
  }
  .item:focus{
    outline: 3px solid red;
  }
  .item:last-child{
    background-color: lightgray;
  }